apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-go-dpmgsyrt
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-go-dpmgsyrt:0fab4491de93eafd0f2de630b8b49b5270abc43c@sha256:c634702073eb195595680da3ec5ffd826e1ac5c4ad0a194e02662971f4037f2d
          name: container-image
